<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h2>User info</h2>
			<%= render 'users/profile', user: @user %>
			<h2>New book</h2>
			<%= render 'books/newform',  book: @book %>
		</div>
		<div class="col-xs-1">
		</div>
		<div class="col-xs-8">
			<h2>Book detail</h2>
			<table class="table">
				<tbody>
					<tr><!-- １列目 -->
						<td><!-- プロフィール画像 -->
							<%= link_to (@bookdetail.user) do %>
							<%= attachment_image_tag(@bookdetail.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
							<%= @bookdetail.user.name %>
							<% end %>
						</td>
						<td> <!-- Title -->
							<%= link_to @bookdetail.title, @bookdetail %>
						</td>
						<td><!-- Opinion -->
							<%= @bookdetail.body %>
						</td>
						<td><!-- 良いね機能 -->
							<% if @bookdetail.favorited_by?(current_user) %>
							 <%= link_to book_favorites_path(@bookdetail), method: :delete do %>
									<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
									<%= content_tag :span, "", class: "glyphicon glyphicon-heart" %>
									<%= @bookdetail.favorites.count %>
								<% end %>
							<% else %>
								<%= link_to book_favorites_path(@bookdetail), method: :post do %>
									<%= content_tag :span, "", class: "glyphicon glyphicon-heart-empty" %>
									<i class="fa fa-heart-o" aria-hidden="true"></i>
									<%= @bookdetail.favorites.count %>
							  <% end %>
							<% end %>
						</td><!-- 良いね機能 -->
						<td><!-- コメントカウント機能 -->
							<a>コメント数：<%= @bookdetail.post_comments.count %></a>
						</td>
						<td><!-- 編集ボタン -->
							<% if @bookdetail.user == current_user %>
							<%= link_to "Edit",edit_book_path(@bookdetail), class: "btn-sm btn-success edit_book_#{@bookdetail.id}" %>
						</td>
						<td><!-- 削除ボタン -->
							<%= link_to "Destroy",@bookdetail, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@bookdetail.id}" %>
							</td>
						<% end %>
					</tr>
				</tbody>
			</table>
			<!-- ２列目コメントフォーム -->
			<%= render 'post_comments/comment_form', { bookdetail: @bookdetail, post_comment: @post_comment } %>
 			<!-- ３列目コメント一覧 -->
			<h4>コメント一覧</h4>
			<div id="comments_area">
				<%= render 'post_comments/post_comment', post_comments: @bookdetail.post_comments %>
			</div>
			<!-- ４列目エラーメッセージ -->
			<% if @post_comment.errors.any? %>
				<% @post_comment.errors.full.messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			<% end %>
		</div>
	</div>
</div>